{% extends "reservations/layout.html" %} {% load static %} {% block title %}
{{object.name }} {% endblock %} {% block body %}

<div class="container mt-5">
    <div class="indent ">
    <div  class="google-maps">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d16051.485432327467!2d-123.14431044250964!3d49.29486665993787!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e0!4m0!4m5!1s0x548673ed61e021a5%3A0xd8393cf52a7e366b!2sRosellen%20Suites%20At%20Stanley%20Park%2C%202030%20Barclay%20St%2C%20Vancouver%2C%20BC%20V6G%201L5%2C%20Canada!3m2!1d49.2921822!2d-123.1411177!5e0!3m2!1sen!2sru!4v1596974151925!5m2!1sen!2sru"
                width="1200"
                height="350"
                frameborder="0"
                style="border: 0;"
                allowfullscreen=""
                aria-hidden="false"
                tabindex="0"
            ></iframe>
        </div>
    </div>
</div>

{% endblock %}
