{% extends "reservations/layout.html" %} {% load static %} {% block title %}
{{object.name }} {% endblock %} {% block body %}

<div class="container mt-5">
    <div class="indent ">
        <div class="mb-3">
            HOTEL — is a very convenient variant of inexpensive and comfortable staying in the heart of city. 
            Next to the hotel the guests will find a great variety of cafes and restaurants catering to different tastes,
            as well as plenty of boutiques, art galleries and antique shops. <br>
            We will make your stay, whether you are traveling for business or pleasure, as comfortable as possible 
            so that you would like to come back to visit us again and again!
        </div>
    <div id="map" class="google-maps">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2441.171203817003!2d104.30380270545427!3d52.276593753126946!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5da83b4245ce883b%3A0xc0cbf765599eb586!2sSovetskaya%20St%2C%2058%2C%20Irkutsk%2C%20Irkutskaya%20oblast&#39;%2C%20664047!5e0!3m2!1sen!2sru!4v1597133098156!5m2!1sen!2sru"
                width="1200"
                height="350"
                frameborder="0"
                style="border: 0;"
                allowfullscreen=""
                aria-hidden="false"
                tabindex="0"
            ></iframe>
        </div>
    </div>
</div>

{% endblock %}
