{% extends "reservations/layout.html" %} 
{% load static %} 
{% block title %}
Booking {% endblock %}

{% block body %}

<div class="container mt-5">
    
<div class="indent">

    <div class="search-wrapper mb-3">
        
        {% include "reservations/search-form.html" %}   

    </div>
<div class="row ml-1">
    {% for room in available_rooms %}
    <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card" >
          <img class="card-img-top" src="{{ room.mainFoto.url }}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{ room.name }}</h5>
            <p class="card-text">Up to {{ room.capacity }} guests</p>
            <div class="d-flex justify-content-between">
                <p class = "price mr-5">price</p>
                <button href="#" class="search-button ml-5">Select</button>
                </div>
          </div>
        </div>
    </div>
    {% endfor %}

</div>   
</div>
    
</div>
{% endblock %}
