{% extends "reservations/layout.html" %} 
{% load static %} 
{% block title %}
Confirmation {% endblock %}

{% block body %}

<div class="container mt-5">
        
    <div class="indent">
       
        <a class="back" href="#">
            Back to room selection
        </a>
        <div>
            You are booking {{ booking.room.category}} room from {{booking.arrival}} to {{booking.departure}} 
            at the total price {{booking.calc_price}}
        </div>
        <form method = "POST" class="transfer">
            {% csrf_token %}
            <strong>
                Before your reservation is complete, you can order transfer.
            </strong>

            {{transferForm.as_p}}
            {{transferForm.airport.label_tag}}
            <button type = "submit" class="button confirm">
                Book
            </button>
        </form>
    </div>
     </div>
</div>
{% endblock %}
