{% extends "reservations/layout.html" %} 
{% load static %} 
{% block title %}
Hotel {% endblock %}

{% block body %}

<div class = "class="container-fluid>
    <div class="indent">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            <!-- Slides -->
            <div
                class="swiper-slide"
                style="background-image: url({% static 'img/swiper1.jpg' %});"
            >
                <h1>Book online</h1>
                <div class="after"></div>
            </div>
            <div
                class="swiper-slide"
                style="background-image: url({% static 'img/swiper2.jpg' %});"
            >
                <h1>Best price</h1>
                <div class="after"></div>
            </div>
            <div
                class="swiper-slide"
                style="background-image: url({% static 'img/swiper3.jpg' %});"
            >
                <h1>Comfortable accomodation</h1>
                <div class="after"></div>
            </div>
        </div>
    </div>    

    <div class="search-wrapper ">
        <form action="{% url 'booking' %}" method="GET" >
        <div class="row" id="tl-search-form">                         

            <div class="col-lg-3 col-md-12 col-sm-12" >
                <span class="search-title">Book online</span>    
                <div>Guaranteed accommodation</div>
            </div>

            <div class = "col-lg-3 col-md-6 col-sm-6 align-self-center">                
               {{ form.arrival.label_tag  }}
               {{ form.arrival  }}
            </div>


            <div class = "col-lg-3 col-md-6 col-sm-6 align-self-center">
                {{ form.departure.label_tag  }}
                {{ form.departure  }}
            </div> 

            <!-- hide guests, 1 guest by default -->
            <div>
                {{ form.guests.as_hidden  }}
            </div>

                
                <div class="col-lg-2 col-md-12">
                    <button class = "button"  action = "{% url 'booking' %}" >
                        Find room
                    </button>
                </div>
                
            </div>
        </form>
    </div>
</div>

{% endblock %}
