{% extends "reservations/layout.html" %} 
{% load static %} 
{% block title %}
Hotel {% endblock %}

{% block body %}


<!-- <ul>
    {% for entry in entries %}
    <a  href="{% url 'entry' entry %}"><li>{{ entry }}</li></a>
    {% endfor %}
</ul> -->

<div class = "class="container-fluid>
<div class="tl-fixed-banner">
    <div class="swiper-container">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            <!-- Slides -->
            <div
                class="swiper-slide relative"
                style="background-image: url({% static 'img/swiper1.jpg' %});"
            >
                <h1>Book online</h1>
                <div class="after"></div>
            </div>
            <div
                class="swiper-slide relative"
                style="background-image: url({% static 'img/swiper2.jpg' %});"
            >
                <h1>Best price</h1>
                <div class="after"></div>
            </div>
            <div
                class="swiper-slide relative"
                style="background-image: url({% static 'img/swiper3.jpg' %});"
            >
                <h1>Comfortable accomodation</h1>
                <div class="after"></div>
            </div>
        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>

        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
</div>
    
</div>

<div class="search-wrapper ">
        
    <div class="row" id="tl-search-form">
            <div class="col-3" >
                <span class="search-title">Book online</span>    
                <div>Guaranteed accommodation</div>
            </div>

            <div class = "col-3 align-self-center">                
               {{ form.arrival.label_tag  }}
               {{ form.arrival  }}
            </div>


            <div class = "col-3 align-self-center">
                {{ form.departure.label_tag  }}
                {{ form.departure  }}
                <!-- <input type="date" min='2020-01-01' id="to" name="to" > -->
            </div>
            <div class="col-md-3 col-sm-12 align-self-center">
                <button >
                    Find room
                </button>
            </div>


        </div>
    </div>
</div>



  <!-- Initialize Swiper -->
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script>
    var swiper = new Swiper(".swiper-container", {
        spaceBetween: 30,
        effect: "fade",
        pagination: {
            el: ".swiper-pagination",
            clickable: true,
        },
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },
    });
</script>
{% endblock %}
