{% extends "reservations/layout.html" %} 
{% load static %} 
{% block title %}
Booking {% endblock %}

{% block body %}

<div class="container mt-5">
    
<div class="row indent">

        {% for room in object_list %}
        <div class="col-md-6 col-lg-6 col-sm-12 mb-4">
                <a class = "category" href="{% url 'room-detail' room %}" target=_blank>
        
                        <h2> {{room.name_verbose }} </h2>
                    <div> {{ room.description }}</div>
                    
        
                        <img class  = "room-foto"
                                            src="{{ room.mainFoto.url }}"
                                            alt="room foto"
                                    />
        
        
                                </a>
                </div>
        {% endfor %}
</div>
    
</div>
{% endblock %}
