{% extends "reservations/layout.html" %} {% load static %} {% block title %}
{{object.name }} {% endblock %} 


{% block body %}

<div class="container mt-5">
    <div class="indent">

        <div class="room-title">
            <h2>{{ object.name }}</h2>
            <h2><strong class = "price">{{ object.price }}</strong>/day</h2>
        </div>
        
        <div class="mb-5">{{ object.description }}</div>
        <div class="row mb-5">
            <div class="col-md-4 col-sm-12">
                <strong>For this room we offer: </strong>
                    <ul class = "facilities">
                        {% for facility in object.facilities.all %}
        
                        <li>{{ facility }}</li>
                        {% endfor %}
                    </ul>
            </div>

            <div class="col-md-8 col-sm-12">
                <img
                    class="room-foto"
                    src="{{ object.mainFoto.url }}"
                    alt="room foto"
                />
            </div>
        </div>
    </div>

    <!-- Swiper -->

    <div class="room-swiper">
        <div class="gallery">
            {% for image in images %}

            <div>
                <img
                    class="swipe-foto"
                    src="{{ image.img.url }}"
                    alt="room foto"
                />
            </div>
            {% endfor %}
        </div>

        <!-- arrows -->
        <p class="left"></p>
        <p class="right"></p>
    </div>
</div>

<!-- Swiper JS -->
<script
    type="text/javascript"
    src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"
></script>
<script>
            $(".gallery").slick({
            slidesToShow: 2,
            slidesToScroll: 1,
            infinite: true,
            //	variableWidth:true,
            dots: true,
            centerMode: false,
            variableWidth: false,
            autoplay: true,
            autoplaySpeed: 5000,
            arrows: false,
            rows: 0,
            responsive: [
                {
                    breakpoint: 1100,
                    settings: {
                        slidesToShow: 2,
                        slidesToScroll: 1,
                    },
                },
                {
                    breakpoint: 768,
                    settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1,
                    },
                },
            ],
        });

    //     $(".gallery").on('setPosition', function () {
    //   $(this).find('.slick-slide').height('auto');
    //   var slickTrack = $(this).find('.slick-track');
    //   var slickTrackHeight = $(slickTrack).height();
    //   $(this).find('.slick-slide').css('height', slickTrackHeight + 'px');
    //   });

            $(".left").click(function () {
                $(".gallery").slick("slickPrev");
            });

            $(".right").click(function () {
                $(".gallery").slick("slickNext");
            });



</script>


{% endblock %}
