
                <div class = "col-3 align-self-center">                
                    {{ form.arrival.label_tag  }}
                    {{ form.arrival  }}
                </div>
                
                
                <div class = "col-4 align-self-center">
                    {{ form.departure.label_tag  }}
                    {{ form.departure  }}
                </div>


                <div class="col-3" >
                    <span>Choose number guests per room: </span>    
                    {# form.guests.label_tag  #}
                    {{ form.guests  }}
                </div>
